/* Write your code here: */
h1,
h2 {
  color: blueviolet;
}
.box > p {
  color: firebrick;
}
.list > li {
  color: blue;
}
.box li {
  color: blue;
}
li.done.list#firstDiv {
  color: seagreen;
}

h1 p.classTitle#title {
  color: yellow;
}

body ul > p {
  font-size: 0.5rem;
}
